.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75vw;
}

.listContainer {
  width: 50%;
}

.taskContainer {
  text-align: left;
}

.taskContainer::-webkit-scrollbar {
  display: none;
}

.list {
  padding: 0;
  margin: 0;
}
