.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75vw;
}

.listContainer {
  width: 50%;
}

.taskContainer {
  text-align: left;
}

.taskContainer::-webkit-scrollbar {
  display: none;
}

.list {
  padding: 0;
  margin: 0;
  overflow: scroll;
  height: 50vh;
}

.list::-webkit-scrollbar {
  display: none;
}

.formInput {
  height: 32px;
  width: 240px;
  font-size: 16px;
}

.submitBtn {
  font-size: 16px;
  cursor: pointer;
  height: 40px;
  width: 160px;
  color: #fff;
  border: 0px;
  background-color: #2196f3;
}

.submitBtn:hover {
  font-size: 18px;
  color: #2196f3;
  background-color: #fff;
  border: 2px solid #2196f3;
}

.inputForm {
  height: 10vh;
}
