.incompleteIndicator {
  color: red;
}

.completedIndicator {
  color: #2196f3;
}

.trackerContainer {
  width: 75vw;
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.blockContainer {
  display: flex;
  justify-content: stretch;
}

.block {
  list-style-type: none;
  display: inline-block;
  flex-grow: 1;
}

.blockDiv {
  min-width: 20px;
  min-height: 24px;
}

@media only screen and (max-width: 600px) {
  .trackerContainer {
    position: fixed;
    z-index: 999;
    width: 100vw;
    background-color: white;
  }

  .blockContainer {
    padding-left: 0;
    width: 75vw;
    margin: 0 auto;
  }
}
